<!doctype html>
<html ng-app="geneology">
  <head>
    <script src="angular.min.js"></script>
    <script src="angular-table.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="angular-table.css">
    <link rel="stylesheet" href="app.css">
    <style>.angularTableTableContainer { height: auto !important; }</style>
  </head>
  <body>
    <div ng-controller="GeneologyCtrl">
      <h2>Original dataset</h2>
      <div>
        <a href="" ng-click="prev()">&lt;</a>
        {{table.source.name}} (<a href="https://{{table.source.portal}}/-/-/{{table.source.id}}">{{mainPortal}}</a>)
        <a href="" ng-click="next()">&gt;</a>
      </div>
      <h2>Derived datasets</h2>
      <angular-table model="table.datasets" default-sort-column="createdAt">
        <header-row>

          <header-column sortable="false" sort-field-name="id">
            <div style="display: inline-block;">Id</div>
            <sort-arrow-ascending></sort-arrow-ascending>
            <sort-arrow-descending></sort-arrow-descending>
          </header-column>

          <header-column sortable="true" sort-field-name="name">
            <div style="display: inline-block;">Name</div>
          </header-column>

          <header-column sortable="true" sort-field-name="createdAt">
            <div style="display: inline-block;">Created</div>
            <sort-arrow-ascending></sort-arrow-ascending>
            <sort-arrow-descending></sort-arrow-descending>
          </header-column>

          <header-column sortable="true" sort-field-name="viewCount">
            <div style="display: inline-block;">Views</div>
            <sort-arrow-ascending></sort-arrow-ascending>
            <sort-arrow-descending></sort-arrow-descending>
          </header-column>

          <header-column sortable="true" sort-field-name="downloadCount">
            <div style="display: inline-block;">Downloads</div>
            <sort-arrow-ascending></sort-arrow-ascending>
            <sort-arrow-descending></sort-arrow-descending>
          </header-column>

          <header-column sortable="true" sort-field-name="ncell">
            <div style="display: inline-block;">Size</div>
            <sort-arrow-ascending></sort-arrow-ascending>
            <sort-arrow-descending></sort-arrow-descending>
          </header-column>

          <header-column sortable="true" sort-field-name="ncopies">
            <div style="display: inline-block;">Copies</div>
            <sort-arrow-ascending></sort-arrow-ascending>
            <sort-arrow-descending></sort-arrow-descending>
          </header-column>

        </header-row>

        <row even-color="#ffffff" odd-color="#eeeeee">
          <column>{{row.id}}</column>
          <column>{{row.name}}</column>
          <column>{{row.prettyDate}}</column>
          <column>{{row.viewCount}}</column>
          <column>{{row.downloadCount}}</column>
          <column>{{row.ncell}}</column>
          <column>{{row.ncopies}}</column>
        </row>
      </angular-table>
    </div>
  </body>
</html>
