<!doctype html>
<html ng-app>
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div ng-controller="GeneologyCtrl">
      <h2>Original dataset</h2>
      <div>
        <a href="" ng-click="prev()">&lt;</a>
        {{table.source.name}} (<a href="https://{{table.source.portal}}/-/-/{{table.source.id}}">{{mainPortal}}</a>)
        <a href="" ng-click="next()">&gt;</a>
      </div>
      <h2>Derived datasets</h2>
      <table class="derived">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Views</th>
            <th>Downloads</th>
            <th>Size</th>
            <th>Copies</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dataset in table.datasets">
            <td><a href="https://{{mainPortal}}/-/-/{{dataset.id}}">{{dataset.id}}</a></td>
            <td>{{dataset.name}}</td>
            <td>{{dataset.prettyDate}}</td>
            <td>{{dataset.downloadCount}}</td>
            <td>{{dataset.viewCount}}</td>
            <td title="{{dataset.nrow}} rows by {{dataset.ncol}} columns">{{dataset.nrow * dataset.ncol}} cells</td>
            <td ng-controller="CopiesCtrl">
              <a href="" ng-show="!showCopies" ng-click="expand()">{{dataset.portals.length}}</a>
              <ul ng-click="unexpand()" ng-show="showCopies">
                <li ng-repeat="portal in dataset.portals">
                  {{portal}}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
  </body>
</html>
