<!doctype html>
<html ng-app>
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div ng-controller="GeneologyCtrl">
      <h2>Original dataset</h2>
      <div>
        <a href="" ng-click="prev()">&lt;</a>
        <a href="https://{{table.source.portal}}/-/-/{{table.source.id}}">{{table.source.name}}</a>
        <a href="" ng-click="next()">&gt;</a>
      </div>
      <h2>Derived datasets</h2>
      <ul class="derived" style="list-style: none;">
        <li ng-repeat="dataset in table.datasets">
          {{dataset.name}}
          <ul>
            <li ng-repeat="portal in dataset.portals">
              <a href="https://{{portal}}/-/-/{{dataset.id}}">{{portal}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
